/* reset */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-size: initial;
  font-weight: initial;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  border: none;
  font-family: inherit;
}

:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/
  --violet-500: #673399;
  --violet-300: #bd8fe8;
  --orange-500: #fd4000;
}

/* layout */
.section {
  padding: 100px 30px;
}

.l_wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

/* style */
.section_project {
  background-color: var(--violet-500);
  color: white;
}

.section_events {
  background-color: seashell;
  color: salmon;
}

/* header */
.section-header {
  margin-bottom: 100px;
}

.title {
  display: flex;
  align-items: center;
}

.title-headings {
  font-size: 40px;
  flex-shrink: 0;
}

.title-headings.md {
  flex-basis: 26%;
}

.title-headings.lg {
  flex-basis: 33%;
}

.title-headings strong {
  box-shadow: inset 0 -0.5em var(--orange-500);
  font-weight: initial;
}

.title-btn-add {
  background: orangered;
  color: white;
  font-size: 14px;
  margin-left: auto;
  padding: 15px 20px;
  border-bottom: 3px solid #b23105;
  border-radius: 5px;
  transition: all 0.3s;
}

.title-desc {
  font-size: 14px;
  color: var(--violet-300);
  max-width: 550px;
  line-height: 1.7em;

  display: flex;
  align-items: center;
}

.title-desc::before {
  content: "";
  display: block;
  flex-basis: 83px;
  flex-shrink: 0;
  height: 2px;
  background-color: var(--violet-300);
  margin-right: 25px;
}

/* list */
.contents-list {
  color: var(--violet-500);
  display: flex;
  gap: 24px;
}

.contents-list.row {
}

.contents-list.col {
  flex-direction: column;
}

.contents-item:nth-child(even) > .card.row {
  flex-direction: row-reverse;
}

/* card */
.card {
  display: flex;
}

.card.col {
  flex-direction: column;
}

.card-cover {
  flex-basis: 26%;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;
}

.card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.card-title {
  font-size: 30px;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-contents {
  padding: 24px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;

  background-color: white;
}

.card-contents li {
  font-size: 14px;
  text-indent: -20px;
  padding-left: 20px;
}

.card-contents li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--violet-300);
  margin-right: 10px;
}

.card-contents li:not(:first-child) {
  margin-top: 15px;
}

.card-contents-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--violet-500);
  margin-bottom: 32px;
}

/* media query */
@media (max-width: 1260px) {
  .title {
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
    gap: 25px;
  }

  .title-headings.md {
    width: 280px;
  }

  .title-headings.lg {
    width: 340px;
  }

  .title p::before {
    display: none;
  }
}

@media (max-width: 760px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .card,
  .card.row {
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
  }
}
