/* reset */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  font-weight: initial;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/
  --violet-500: #673399;
  --violet-300: #bd8fe8;
  --violet-100: #f1e0f8;
  --orange-500: #fd4000;
  --gray-500: #9c9c9c;
  --gray-300: #eee;
}

/* layout */
.section {
  padding: 100px 30px;
}

.l_wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

/* style */
.transparent-500 {
  opacity: 0.5;
}

.soldout-badge {
  position: absolute;
  top: -10px;
  left: -10px;
}

.section_project {
  background-color: var(--violet-500);
  color: white;
}

.section_events {
  background-color: seashell;
  color: salmon;
}

/* header */
.section-header {
  margin-bottom: 100px;
}

.title {
  display: flex;
  align-items: center;
}

.title-headings {
  font-size: 40px;
  flex-shrink: 0;
}

.title-headings.md {
  flex-basis: 26%;
}

.title-headings.lg {
  flex-basis: 33%;
}

.title-headings.md strong {
  box-shadow: inset 0 -0.5em var(--orange-500);
}

.title-headings.lg strong {
  box-shadow: inset 0 -0.5em white;
}

.title-headings strong {
  font-weight: initial;
}

.title-btn-add {
  background: orangered;
  color: white;
  font-size: 14px;
  margin-left: auto;
  padding: 15px 20px;
  border-bottom: 3px solid #b23105;
  border-radius: 5px;
}

.title-btn-add:active {
  border-bottom: 1px solid #b23105;
}

.title-desc {
  font-size: 14px;
  color: var(--violet-300);
  max-width: 550px;
  line-height: 1.7em;

  display: flex;
  align-items: center;
}

.title-desc::before {
  content: "";
  display: block;
  flex-basis: 83px;
  flex-shrink: 0;
  height: 2px;
  background-color: var(--violet-300);
  margin-right: 25px;
}

/* list */
.contents-list {
  display: flex;
  gap: 24px;
}

.contents-list.row .contents-item {
  flex-basis: calc(100% - 24px * 2);
}

.contents-list.col {
  flex-direction: column;
}

.contents-item:nth-child(even) > .card.row {
  flex-direction: row-reverse;
}

/* card */
.card {
  display: flex;
  height: 100%;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

.card.col {
  flex-direction: column;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-cover {
  position: relative;
  flex-basis: 26%;
  flex-shrink: 0;
}

.card-cover img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 30px;
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-list {
  display: flex;
  gap: 5px;
  margin-bottom: 24px;
}

.tag-list li {
  background-color: var(--violet-100);
  color: var(--violet-500);
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
}

/* card-contents */
.card-contents {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;

  background-color: white;

  display: flex;
  flex-direction: column;
}

.card-contents.row {
  padding: 24px;
}

.card-contents.col {
  border-top: 4px solid black;
  padding: 24px 24px 0 24px;
}

.card-contents-list {
  margin-top: 32px;
}

.card-contents-list li {
  font-size: 14px;
  color: var(--violet-500);
  text-indent: -20px;
  padding-left: 20px;
}

.card-contents-list li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--violet-300);
  margin-right: 10px;
}

.card-contents-list li:not(:first-child) {
  margin-top: 15px;
}

.card-contents-title {
  font-size: 18px;
  font-weight: 700;
}

.card-contents-title.lg {
  font-size: 24px;
  color: black;
  min-height: 60px;
}

.card-contents-title.md {
  font-size: 18px;
  color: var(--violet-500);
}

.card-contents-desc {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 14px;
  color: var(--gray-500);
  padding-top: 32px;
  padding-bottom: 24px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -24px;
  min-height: 68px;
  font-size: 12px;
  font-weight: 700;
  color: var(--gray-500);
  border-top: 4px solid var(--gray-300);
}

.card-footer .soldout strong {
  font-weight: 500;
}

.guest-list {
  display: flex;
  margin-right: 24px;
}

.guest-item + .guest-item {
  margin-left: -10px;
}

.guest-item:hover {
  z-index: 1;
}

.guest-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid white;
}

/* media query */
@media (max-width: 1260px) {
  .title {
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
    gap: 25px;
  }

  .title-headings.md {
    width: 280px;
  }

  .title-headings.lg {
    width: 340px;
  }

  .title p::before {
    display: none;
  }
}

@media (max-width: 760px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .card,
  .card.row {
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
  }
}
